.navbar-brand {
    font-size: xx-large;
}

.navbar {
    font-size: large;
    /* align-content: center;
    text-align: right;
    align-items: middle;
    justify-content: center;
    justify-items: center; */
}